html {
  height: 100%;
  background: linear-gradient(#272736, #43434f);
  background-size: cover;
}

body {
  margin: 10px;
  margin-top: 5vh;
}

.main {
  position: relative;

  width: 100%;
  max-width: 756px;
  margin: auto;
}

canvas {
  border-radius: 3px;
  border: 3px solid #272736;
  image-rendering: pixelated;
  cursor: crosshair;

  width: 100%;

  box-sizing: border-box;

  background-color: #ffffeb;
}

#colors {
  display: flex;
}

#colors input {
  --color: var(--color, #272736);

  appearance: none;

  width: 24px;
  margin: 0;

  background-color: var(--color);
  border: outset 2px;

  aspect-ratio: 1 / 1;
}

#colors input:checked {
  border-style: inset;
  border-color: var(--color);
}

#sizes {
  display: flex;
  flex-direction: column-reverse;
  place-items: end;
}

#sizes input {
  width: var(--size);
  height: var(--size);
  appearance: none;
  background: var(--fillColor);
}
